
/* Add custom lib css */
@import 'font-awesome.min.css';

@import 'colors.css';
@import 'header.css';
@import 'toolbar.css';
@import 'layout.css';
@import 'main.css';
@import 'form.css';
@import 'login.css';
@import 'leftlist.css';
@import 'rightlist.css';
@import 'centerlist.css';
@import 'landscape.css';
@import 'progress.css';
@import 'fullscreen.css';

.fa
{
    vertical-align:middle;
}

html, body {
    font-size:10px;
    font-family:Verdana, sans-serif;
    margin: 0;
    padding: 0rem;
    height:100%;
    overflow-x:hidden;
    background:white;
    text-align:center;
}

body {
  font-size: 1rem;
  background: #fff;
}
div, p , ul, table, tr, td, h1, h2, h3, h4
{
    box-sizing:border-box;
}
.fa
{
    font-size:1.9rem;
}

h1 {
  margin: 0 0 0rem 0;
}

p {
  font-size: inherit;
}
.hidden
{
    display:none !important;
}


