body.fullscreen .slide.center,
body.fullscreen .slide.center .center_menu,
body.fullscreen .slide.center li.feed_fullscreen
{
    margin-left:0%;
    width:100%;
}
.fullscreen .header
{
    display:none;
}
.fullscreen .slide.center li.feed_fullscreen
{
    top:0px;
}

.fullscreen .center_menu
{
    display:none;
}
.fullscreen .feed_fullscreen-container
{
    position:absolute;
    width:100%;
    top:0px;
}

.fullscreen .slide.center li.feed_fullscreen
{
    position:relative;
    top:0px;
    height:100vh;
}
