@media all and (orientation:landscape) and (min-width:450px)
{
    .button_left
    {
        display:none;
    }
    .header h1
    {
        width:calc(100% - 5rem);
    }

    .slide.left
    {
        width:40%;
    }
    .slide.left .center_menu
    {
        width:calc(40% - 1px);
    }

    .slide.center .center_menu
    {
        width:60%;
    }

    .left_visible .slide.right,
    .right_visible .slide.left
    {
        display:block;
    }


    .slide.center
    {
        width:60%;
        margin-left:40%;
    }

    .slide.right
    {
        right:0px;
        width:60%;
    }
    .right_selected .slide.center
    {
        transform: translateX(-100%);
    }

}
