.slides
{
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background:var(--mainBg);
    z-index:4;
    font-size:0px;
    white-space:nowrap;
}
.slide
{
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    font-size:1rem;
    overflow-x:hidden;
    background:var(--mainBg);
    transition:transform 0.5s ease;
}

.slide.left,
.slide.right
{
    width:80%;
    background:var(--menuBg);
    color:var(--menuColor);
}

.slide.right
{
    right:0px;
}

.left_selected .slide.center
{
    transform: translateX(80%);
}
.right_selected .slide.center
{
    transform: translateX(-80%);
}

.left_selected .slide.left,
.right_selected .slide.right
{
    z-index:4;
}
.left_visible .slide.right,
.right_visible .slide.left
{
    display:none;
}

.slide_content
{
    position:absolute;
    top:5rem;
    bottom:5rem;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto;
}




