.slide.right
{
    border-left:1px solid var(--menulistItemBorder);
    background:#ebebeb;
}

.slide.right .slide_content
{
    bottom:0px;
}

#invalid_regex
{
    color:red;
}
#invalid_regex.valid
{
    visibility:hidden;
}
